/* HomePage.css */
.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .homepage h1 {
    font-size: 3rem;
    color: #2c3e50;
    margin-bottom: 30px;
  }
  
  .explore-btn, .admin-btn {
    background-color: #007BFF;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .explore-btn:hover, .admin-btn:hover {
    background-color: #0056b3;
  }
  
  .admin-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  